link(rel="import" href="../3rdparty/lodash.html")
link(rel="import" href="../3rdparty/polymer.html")
link(rel="import" href="../3rdparty/d3.html")
link(rel="import" href="../3rdparty/nvd3.html")

dom-module#xc-graph-styles
  template
    style(include="xc-nvd3-styles")
    style !{readCompiled('graph.css')}
    
dom-module#xc-graph
  template
    style(include="xc-graph-styles")
    
    svg#svg
  
  script !{readCompiled('graph.js')}

dom-module#xc-graph-bar
  template
    style(include="xc-graph-styles")
    
    svg#svg
  
  script !{readCompiled('graph-bar.js')}
  
dom-module#xc-graph-donut
  template
    style(include="xc-graph-styles")
    
    svg#svg
  
  script !{readCompiled('graph-donut.js')}
  
dom-module#xc-graph-line
  template
    style(include="xc-graph-styles")
    
    svg#svg
  
  script !{readCompiled('graph-line.js')}
    
dom-module#xc-graph-pie
  template
    style(include="xc-graph-styles")
    
    svg#svg
  
  script !{readCompiled('graph-pie.js')}
